  body{
    background-color: #e0edff;
    background-image: url(Background_image/background.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
    }
  h1{
    color:blue;
    font-size: 100px
    }
  .heading{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 250px;
    background-color: #a5d8ff;
    background-image: url(Background_image/pill_bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    }
  h2{
    font-size:58px;
    text-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 20px gray;
    }
