  body{
    position: relative;
    background-color: #e0edff;
    background-image: url(Background_image/background.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    }
  h1{
    color:blue;
    font-size: 100px
    }
  .heading{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 250px;
    background-image: url(Background_image/pill_bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    }
  h2{
    font-size:58px;
    text-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 20px gray;
    }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border
    }
  .container{
    background-color: #edeef0;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 90px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0 light-blue;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    box-shadow: 7px 6px #43474c, 14px 12px #b3becc;
    }
  .heading h1 img {
    max-width: 750px;
    height: auto;
    display: block;
    margin: 0 auto;
    }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    }
  .button-container-management {
    transform: scale(2);
    justify-content: left;
    margin-left: 130px;
    margin-top: 200px;
  }
  .button-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    }
  .button-container a:hover .dot {
    background-color: #ff4d4d;
    cursor: pointer;
    transform: scale(1.1);
  }
  .naviButton {
    background-color: #2e6bb5;
    color: white;
    border-radius: 10px;
    border: none;
    
    width: 80px;     
    height: 20px;   
    
    font-size: 12px;  
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px; margin-left: 20px; transition: background-color 0.3s ease;
    }
    .medibud{
      align-items: center;
    }

    .controls {
    display: flex;
    flex-direction: column;
    gap: 8px;

    background: rgba(255,255,255,0.8);
    padding: 12px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    transform: scale(2.5);
    margin-right: 200px;
  }

  .interval-container {
      display: flex;
      align-items: center;
      gap: 5px;
  }

  .interval-box {
      width: 50px;
  }

  .controls input {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }


.controls .naviButton {
    width: 90px;
    height: 35px;
    font-size: 14px;
}